<h1>Here are the details of the user</h1>
<div>
  <%= image_tag @user.photo_url %>
  <p>Bio: <%= @user.bio_detail %></p>
</div>
<h2>List of Posts created by this user:</h2>
<ul>
  <% @user.posts.each do |post| %>
    <li>
      <%= link_to post.title, user_post_path(@user, post) %> (Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %>)
    </li>
  <% end %>
</ul>
