<html>
  <head>
    <%= stylesheet_link_tag 'posts_css' %>
  </head>

  <body>
    <main class="flex-column">
      <div class="post-detail-show">
        <div class="post-detail-header-show flex-row">
          <h2 class="post-title-show">
            Post #<%= @post.id %> by <%= @post.author.name %>
          </h2>
          <p class="post-counters">
            Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %>
          </p>
        </div>
        <p><%= @post.text %></p>
      </div>
      <% if @post.comments.any? %>
        <ul class="post-comment-show">
          <% @post.comments.each do |comment| %>
            <li>
              Username: <%= comment.author.name %> || Comment: <%= comment.text %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <h2>Add a Comment</h2>
      <%= form_with(model: [@post, Comment.new], url: user_post_comments_path(@post.author, @post)) do |form| %>
        <%= form.label :text %>
        <%= form.text_area :text, required: true %>

        <%= form.submit 'Add Comment' %>
      <% end %>

      <h2>Like this Post</h2>
      <%= form_with(url: user_post_like_path(@post.author, @post), method: :post) do |form| %>
        <%= form.submit 'Like' %>
      <% end %>
    </main>
  </body>
</html>
